@import url("./css/98.css");

@font-face {
	font-family: "Pixelated MS Sans Serif";
	src: url("/ms_sans_serif.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pixelated MS Sans Serif";
	src: url("/ms_sans_serif_bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

:root {
	font-family: "Pixelated MS Sans Serif", monospace;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	font-synthesis: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

button,
select {
	font-family: inherit;
	font-size: inherit;
}

button {
	min-width: 90px;
	min-height: 28px;
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	select[multiple] {
		height: initial;
		padding-right: initial;
		background-image: initial;
		outline: initial;
		background-color: white;
	}
	select[multiple]:focus {
		color: initial;
	}
	select[multiple]:focus option {
		color: initial;
		background-color: initial;
	}
}

select[multiple] option:checked {
	background-color: var(--dialog-blue-light);
	color: var(--button-highlight);
}
