@import url("./css/98.css");

@font-face {
	font-family: "Pixelated MS Sans Serif";
	src: url("/ms_sans_serif.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pixelated MS Sans Serif";
	src: url("/ms_sans_serif_bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

:root {
	font-family: "Pixelated MS Sans Serif", monospace;
	color: var(--text-color);
	-webkit-font-smoothing: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

button {
	font-family: inherit;
	font-size: inherit;
	min-width: 90px;
	min-height: 30px;
	cursor: pointer;
}
